.popup__container {
<<<<<<< HEAD
  /* box-sizing: border-box; */
=======
  box-sizing: border-box;
>>>>>>> hotfix/index
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #fff;
  max-width: calc(100% - 20px * 2);
  margin: 0 auto;
  padding: 26px 22px 22px 22px;
  border-radius: 8px;
<<<<<<< HEAD
  min-height: 330px;
=======
>>>>>>> hotfix/index
  position: relative;
}

@media screen and (min-width: 1280px) {
  .popup__container {
    width: 430px;
    padding: 34px 36px 36px;
  }
}
