.profile__edit-profile {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  background: url(../../../images/profile__editButton.svg) no-repeat center / cover;
}

@media screen and (min-width: 1280px) {
  .profile__edit-profile {
    width: 22px;
    height: 22px;
  }
}
