.profile__nickname {
  max-width: fit-content;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto 8px;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .profile__nickname {
    max-width: 100%;
  }
}
